.transferable {

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}
.tranferCard{
    border-radius: 8px;
    border: 1px solid #B2B2B2;
    background: #F6F6F6;
    width: 96px;
    height: 96px;

}
.title{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}
.total{
    margin-top: 24px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}